.body-container{
    margin: 0;
    padding: 80px 210px;
    height: 100vh;
    text-align: center;
    background: linear-gradient(141deg, rgba(127,174,244,1) 0%, rgba(140,180,239,1) 66%, rgba(195,205,220,1) 100%);
}

.main-container{
    display: flex;
    justify-content: space-around;
    width: 800px;
    height: 450px;
    background: rgba(255, 255, 255, 0.295);
    border-radius: 5px;
    padding: 10px;
}

.profile-container{
    width: 250px;
    height: 430px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.profile-container .profile-image{
    padding: 40px 10px;
}

.profile-container .profile-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-container h2{
    font-size: 24px;
    font-weight: 800;
}

.profile-container span{
    font-size: 18px;
    font-weight: 400; 
}

.profile-container button{
    margin-top: 20px;
    padding: 5px 20px;
    background-color: rgba(127,174,244,1);
    color: #fff;
    border: none;
    border-radius: 5px;
}


.content-container{
    width: 500px;
    height: 430px;
    border-radius: 5px;
    overflow-y: scroll;  
}

.content-container .main-navbar{
    margin: 5px;
    border-radius: 5px;
    background: rgba(127,174,244,1);
}

.content-container .main-navbar .navbar-collapse ul{
    text-align: center;
}

.content-container .main-navbar .navbar-collapse li>a{
    color: #fff !important;
}

.content-container .content-bannar{
    margin: 10px;
    height: 180px;
}

.carousel .carousel-indicators button {
    width: 10px;
   height: 10px;
   border-radius: 100% !important;
 }

.content-container .content-bannar .carousel-inner img{
    max-width: -webkit-fill-available;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.content-container .content-card {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.content-card .card{
    width: 14rem; 
    padding: 10px;
}

.content-card .card-body{
    padding: 2px;
}

.content-card h6{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin: 0px;
}

.content-card span{
    font-weight: 400;
    font-size: 14px;
    margin-left: 2rem;
}

.content-card h6{
    font-weight: 600;
}

.content-card .card-body ul{
    text-align: left;
    padding: 10px 0px 10px 10px;
}

.content-card .card-body ul>li{
    font-size: 14px;
}